<div class="row" style="margin-bottom: 20px">
  <div class="col-md-4"><img alt="22878771 1" src="https://static.rpdata.com/rpdaAU/photo/listsale/320x215/13/08/30/22878771/22878771_1.JPG" width="100%"></div>
  <div class="col-md-8">
  	2/28 Jarnahill Drive Mount Coolum, QLD, 4573 <br>
  	$275,000 <br>
  	3 Beds, 1 Baths, 1 Lock Up Garages <br>
  	Listed since: 26/01/2014 <br>
  	Agency: North Shore Realty - Marcoola <br>
  	Agent: Rob Mcbroom 
  </div>
</div>